VITE_PRIVY_APP_ID=your_privy_app_id
VITE_DELEGATION_REGISTRY_ADDRESS=your_delegation_registry_address
VITE_AUTHORIZATION_VERIFIER_ADDRESS=your_authorization_verifier_address
VITE_QWEN_API_KEY=your_qwen_api_key
VITE_QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1