VITE_PRIVY_APP_ID=your_privy_app_id
VITE_DELEGATION_REGISTRY_ADDRESS=your_delegation_registry_address
VITE_AUTHORIZATION_VERIFIER_ADDRESS=your_authorization_verifier_address
BITGET_QWEN_API_KEY=your_bitget_qwen_api_key